<div class="profile-container  offset-md-1 justify-content-center">
  <div class="col-md-6 mt-3 px-sm-0 ">
<%= render 'users/info', user: current_user %>
</div>
<div class='row'>
<div class='col-md-9'>
<% @plan.each do |plan| %>
<div>

  <p>タイトル：<%= link_to plan_path(plan.id) do %><%= plan.title %></p> <% end %>
  <p>内容：<%= plan.content %></p>
  <p>ユーザーネーム：<%= plan.user.name %></p>
</div>
<% end %>
</div>
</div>
</div>
